@use "../abstracts" as *;

.text-20 {
  font-size: clamp(18px, 2rem, 22px);
}

.text-18 {
  font-size: clamp(16px, 1.8rem, 20px);
}

.text-16 {
  font-size: clamp(14px, 1.6rem, 18px);
}

.text-14 {
  font-size: clamp(12px, 1.4rem, 16px);
}

.text-12 {
  font-size: clamp(12px, 1.2rem, 16px);
}

@media screen and (max-width: $mobile-screen) {
}
