//COLORS
$gemstone: #5f99ae;
$white: #f8f8f8;
$dark: #18230f;
$black: #0000;
$purple: #693382;
$grey: grey;
$yellow: #ffb433;
$error: #d33d3d;
$success: #4caf50;
$info: #fb8c00;

//SCREENS
$medium-screen: 1440px;
$small-screen: 1290px;
$mobile-screen: 1024px;
$phone_screen: 640px;

//MAX SCREENS

//TRANSITIONS
$transition-time: 0.3s;

//PRIORITY
$z-topbar: 200;
$z-modal: 201;
